 <!-- Page Header-->
 <header class="masthead" style="background-image: url('./imgs/<%= img%>')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="<%= siteStyle%>">
                    <h1><%= title%></h1>
                    <h2 class="<%= subhead%>"><%= subcontent%></h2>
                    <span class="<%= subStyle%>">Posted by on  <a href="#!"> Start Bootstrap</a> August 24, 2023
                        
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>